[Desktop Entry]
Name=Kerbal Space Program
Comment=Play this game on Steam
Exec=steam steam://rungameid/220200
Icon=steam
Terminal=false
Type=Application
Categories=Game;
